body {
    padding: auto 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    text-align: center;
    font-size: 35px;
    
}
section{
    text-align: left;
    margin-left:  25px;
}
ul{
    font-size: 20px;
}
p{
    font-size: 22px;
    margin-left: 25px;
}
h3{
    text-align: center;
}
.calculations, .numbers_omez{
    display: inline-block;
}
.numbers_data, .histogram{
    margin: auto 15px;
}
.histogram{
    padding-bottom: 35px;
}
.info_sale, .histo_info{
    display: inline-block;
}
.plans_for_future, .factors{
    background-color: rgba(240, 248, 255, 0.697);
}
.h3{
    text-align: left;
}
footer{
    text-align: center;
    margin-bottom: 0;
}
bottom{
    color: rgb(106, 106, 157);
    background-color: beige;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid rgb(106, 106, 157);
    font-weight: bold;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}
.table{
    display: block;
    text-align: center;
    margin: 0 auto;
}
table,th,td{
    border: 1px solid grey;
    text-align:center;
  } 
  
  th,td{
     padding:10px;
  }
  caption{
    font-size:20px;
    color:blue;
  }